**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

# Names

- Kaitlyn Chou
- Aria Gross Villa
- Alera Ojomoh-dermody
- Isaac Roberts
- Angelina Vo

# Research Question

Does participation (number of registered users, amount of content circulated, programs attended) at libraries in California counties correlate to CAASPP test scores (ELA and Mathematics) of students attending school in those counties?

## Background and Prior Work


Standardized tests can act as a lens through which educators and policymakers can understand various aspects of the educational system, identifying both strengths and areas in need of improvement. Analyzing standardized test results alongside teacher credentials, resource allocation, and instructional strategies provides a comprehensive view of the educational environment, fostering efforts to improve student achievement and success. The No Child Left Behind (NCLB) Act mandated that schools employ qualified educators who are certified in their state, hold a bachelor's degree, and demonstrate subject knowledge. <a name="cite_ref-3"></a>[<sup>1</sup>](#cite_note-3) With the replacement of NCLB by the Every Child Succeeds Act (ECSA) in 2015, schools, or Local Education Agencies, are now obligated to report on the qualifications of educators, including the percentage of 'inexperienced' teachers. <a name="cite_ref-3"></a>[<sup>2</sup>](#cite_note-3) 

Numerous research papers have explored the influence of libraries on individual students' educational attainment. Across the three initial research sources we examined, student success was measured and defined using metrics such as GPAs, retention rates, and qualitative interviews, shedding light on students' perspectives regarding the significance of public libraries in their academic journey. Just as GPA and retention rates provide insights, CAASPP test scores in ELA and mathematics offer pathways to explore the connection between public library utilization and measurable academic achievement. While standardized testing is not the sole dependable method for gauging student progress, it remains commonly utilized to assess college readiness and academic advancement. 

The literature asserts that public libraries serve as invaluable resources for students from diverse socioeconomic backgrounds, offering access to a wide range of written, verbal, and digital materials. For students lacking reliable technology, libraries provide a conducive environment for studying, asking questions, and engaging in group activities, all within a quiet and secure setting. Meanwhile, school librarians act as threads, linking students and teachers to reliable, consistently accurate instruction. Libraries not only supply tangible resources to all community members but can also serve as academic equalizers for low-income students and students of color. A study conducted on Australian public libraries' impact on students living in regional or remote locations found that these students benefited significantly from utilizing library resources.<a name="cite_ref-2"></a>[<sup>3</sup>](#cite_note-2) This was attributed to their access to qualified and informed assistance from librarians, as well as the diversity of materials available in libraries. A study conducted at Northern Colorado University from fall 2017 to spring 2018 revealed that a higher proportion of students of color and those eligible for Pell grants utilized library resources compared to their white or non-eligible counterparts.<a name="cite_ref-1"></a>[<sup>4</sup>](#cite_note-1) The Northern Colorado University study posed several empirical questions related to student success, which could be investigated using the metrics mentioned earlier. Questions include: “How does the use of specific library services correlate with persistence for undergraduate students?” and, “Is there a positive correlation between the number of uses of library services and academic achievement for undergraduate students?”. <a name="cite_ref-1"></a>[<sup>5</sup>](#cite_note-1) 

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Mayer, Jennifer; Dineen, Rachel; Rockwell, Angela; and Blodgett, Jayne. 'Undergraduate Student Success and Library Use: A Multimethod Approach.' University Libraries Faculty Publications, 2020. Available at: https://digscholarship.unco.edu/libfacpub/96 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Power, Emma et al. ''Working Together': Public Libraries Supporting Rural, Regional, and Remote Low-Socioeconomic Student Success in Partnership with Universities.' Journal Name, vol. [volume number], no. [issue number], 2019, pp. 105-125. DOI: https://doi.org/10.1080/24750158.2019.1608497
3. <a name="cite_note-3"></a> [^](#cite_ref-3) Tomasetti, Elena T. 'Factors That Contribute to a Score Increase from Eighth to Eleventh Grade on the CAASPP Mathematics Exam at Red Bluff High School.' Master's thesis, California State University, Chico, 2022.

# Hypothesis

We hypothesize that California counties with higher rates of activity and participation in public libraries correlate positively with higher CAASPP (California Assessment of Student Performance and Progress) test scores in both ELA and mathematics. Children who regularly visit libraries  have more exposure to reading, routine studying, tutoring, and community events that are often held by libraries. We hypothesize that this would result in those children having stronger reading comprehension and understanding of other skills that lead to them scoring higher on California standardized tests than those who don’t.

# Data

## Data overview

## Dataset #1
Dataset Name: California Public Libraries Statistics

Link to the dataset: https://www.library.ca.gov/stats/?pageNo=1 

Number of observations: 6 years (2016-2022), 184-186 libraries (observations) each

Number of variables: Before wrangling, 119 variables. After wrangling, we should have 9: 'County', 'Population of The Legal Service Area', 'Registered Users as of June 30', 'Children Borrowers', 'Library Visits', 'Total Operating Income', 'Circulation of Childrens Materials', "# of Children's Programs", "Children's Program Attendance"

The most important variables we will use to determine the rate of school-aged children’s activity in libraries are Children Borrowers and Circulation of Children’s Materials. Children borrowers are those who are registered with the library with a child/youth library card, but specific age can vary by library system. Circulation of Children’s Materials refers to the total circulation (including renewals) of cataloged and uncataloged materials (in all formats) marked as Children's, whether they are borrowed by a child, young adult, or adult over the course of the report year. We will calculate the borrowers and circulation per 1,000 children in the county using the population of children in each county using Dataset #3 (see below).

## Dataset #2
Dataset Name: California Assessment of Student Performance and Progress (CAASPP) Smarter Balanced Assessments

Link to the dataset: [CAASPP Data](https://caaspp-elpac.ets.org/caaspp/ResearchFileListSB?ps=true&lstTestYear=2023&lstTestType=B&lstCounty=00&lstDistrict=00000&lstFocus=a),  [Key for variables](https://caaspp-elpac.ets.org/caaspp/ResearchFileFormatSB?ps=true&lstTestYear=2023&lstTestType=B)

Number of observations: 8 years (2014 - 2023, missing data from 2019-2020), ~101,000 observations in the score dataset (each observation is a grade in a school), ~11,000 observations in the school names dataset (each observation is a school). We will be using data from grades 3 through 8, excluding grade 11 because the age range falls outside the Children Borrowers’ age range from the Library dataset. This dataset includes CAASPP data from charter and non-charter schools, both of which will be included in our analysis.

Number of variables: Before wrangling, 33 variables. After wrangling, we should have 10: 'County Code', 'School Code', 'Test Year', ‘Test ID’, 'Total Tested with Scores', 'Mean Scale Score', 'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Nearly Met', 'Percentage Standard Not Met'

We will primarily be focusing on the Mean Scale Scores for the ELA and the Mathematics assessments as it represents the average score across all content areas on the exam for each grade but will use the Percentage Standard data to go deeper with our analysis. A Test ID of 1 or 2 corresponds to the ELA or the Mathematics assessments respectively. The CAASPP website provides definitions of what each standard level means and how the percentages met were calculated on [this](https://caaspp-elpac.ets.org/caaspp/UnderstandingSBResults#am1) page and how the Mean Scale Score was calculated and what the ranges for each grade is [here](https://caaspp-elpac.ets.org/caaspp/ScaleScoreRangesSB).

Each year has two files, one for score data by school and grade, and one that matches school codes with the school names. We will combine these two sets for each year so that the scores are identifiable by county name rather than code. We plan to combine the observations for each dataset (Libraries and CAASPP) so that each one year has 58 observations for the 58 California counties. Then, we will combine the Library and CAASPP data into one dataset where each observation is one year in each county. Each observation would include the variables from both the library dataset and the CAASPP dataset. 

## Dataset #3 (updated from Data Checkpoint)
Dataset Name: California - County Population by Characteristics: 2010-2019 & 2020-2022

Link to the dataset: [County Population by Characteristics: 2010-2019](https://www.census.gov/data/datasets/time-series/demo/popest/2010s-counties-detail.html) | [County Population by Characteristics: 2020-2022](https://www.census.gov/data/datasets/time-series/demo/popest/2020s-counties-detail.html)

Number of observations: 58 counties 

Number of variables: Before wrangling, this dataset contains 95 variables. However, our variables of focus are ‘CTYNAME’, ‘YEAR’, and ‘AGE513_TOT’ since the ages of children borrowers in California are around 5 to 14.

We will primarily use the total number of children aged 5-13 per county within this dataset and the 'Children Borrowers' and the 'Circulation of Childrens Materials' columns from Dataset #1 to calculate the proportion of borrowers and circulated materials per 1,000 children. 

Potential confounding variables: homeschooled children may go to the library more often but will not take the CAASPP tests

## California Public Libraries Statistics

In [1]:
# import working with data libraries
import pandas as pd
import numpy as np

# import seaborn
import seaborn as sns

# import matplotlib
import matplotlib.pyplot as plt

# read in csv 
library_17 = pd.read_csv('./data/All-DataFY16-17.csv',  encoding='latin-1')

# select only columns we are interested in 
lib_var = ['County', 'Population of The Legal Service Area', 
        'Registered Users as of June 30', 'Children Borrowers', 
        'Library Visits', 'Total Operating Income', 'Circulation of Childrens Materials',
        "# of Children's Programs", "Children's Program Attendance"]
library_17 = library_17[lib_var]

# convert quantitative variables to floats 
library_17[lib_var[1:]] = library_17[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_17['Year'] = 2017

# do the same with other years
library_18 = pd.read_csv('./data/All-DataFY17-18.csv',  encoding='latin-1')
library_18 = library_18[lib_var]
library_18[lib_var[1:]] = library_18[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_18['Year'] = 2018

library_19 = pd.read_csv('./data/All-DataFY18-19.csv',  encoding='latin-1')
library_19 = library_19[lib_var]
library_19[lib_var[1:]] = library_19[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_19['Year'] = 2019

# since CAASPP is missing 2020 data, we cannot compare it with 2020 library data

library_21 = pd.read_csv('./data/All-DataFY20-21.csv',  encoding='latin-1')
# column names differ slightly from previous years, manually adjusted
library_21 = library_21[['1.35 County', '2.1 Population of The Legal Service Area', 
        '2.2 Registered Users as of June 30', '2.3 Children Borrowers', '7.2 Library Visits', 
        '3.5 Total Operating Income', '7.12 Circulation of Childrens Materials', 
        "# of Children's Programs (calculated)", "Children's Program Attendance"]]
# rename columns 
library_21.columns = lib_var
library_21[lib_var[1:]] = library_21[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_21['Year'] = 2021

library_22 = pd.read_csv('./data/All-DataFY21-22.csv',  encoding='latin-1')
library_22 = library_22[['1.36 County', '2.1 Population of The Legal Service Area', 
        '2.2 Registered Users as of June 30', '2.3 Children Borrowers', '7.2 Library Visits', 
        '3.5 Total Operating Income', "7.11 Circulation of Children's Materials", 
        "# of Children's Programs (calculated)", "Children's Program Attendance"]]
library_22.columns = lib_var
library_22[lib_var[1:]] = library_22[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_22['Year'] = 2022


libraries = pd.concat([library_17, library_18, library_19, library_21, library_22])

In [2]:
# combine all rows in the same county
new_libraries = libraries.groupby(['County','Year']).aggregate('sum').reset_index()

# see what aggregated library dataset looks like
new_libraries

,County,Year,Population of The Legal Service Area,Registered Users as of June 30,Children Borrowers,Library Visits,Total Operating Income,Circulation of Childrens Materials,# of Children's Programs,Children's Program Attendance
0,Alameda,2017,1645359.0,1144802.0,211353.0,7943160.0,100332971.0,6808663.0,14923.0,494780.0
1,Alameda,2018,1660202.0,1166499.0,212589.0,7701703.0,107204293.0,6769157.0,14790.0,504045.0
2,Alameda,2019,1669301.0,1207722.0,233130.0,7663199.0,120455980.0,7223460.0,13432.0,477303.0
3,Alameda,2021,1656591.0,1274668.0,193807.0,321287.0,129778074.0,3394211.0,1217.0,33399.0
4,Alameda,2022,1651979.0,1201528.0,183693.0,3379739.0,136050987.0,6686492.0,5678.0,106002.0
...,...,...,...,...,...,...,...,...,...,...
280,Yuba,2017,74577.0,37350.0,5573.0,54647.0,410172.0,38717.0,477.0,4032.0
281,Yuba,2018,74727.0,36651.0,2690.0,59033.0,506932.0,21688.0,489.0,4891.0
282,Yuba,2019,77916.0,37978.0,2578.0,58208.0,714484.0,19155.0,354.0,4589.0
283,Yuba,2021,79407.0,37795.0,1835.0,-1.0,843125.0,4354.0,145.0,7735.0
284,Yuba,2022,82275.0,38389.0,1693.0,32500.0,1002456.0,10418.0,164.0,5044.0

## California Assessment of Student Performance and Progress (CAASPP) Smarter Balance Assessments

In [3]:
# read in score csv
caaspp_17 = pd.read_csv('./data/sb_ca2017_1_csv_v2.csv')

# drop all rows with null values?
# exclude all observations of Grade 11 and Grade 13 (all grades totals) 
caaspp_17 = caaspp_17[caaspp_17['Grade'] < 11] 

# exclude all observations of County Code 0 (whole state total)
caaspp_17 = caaspp_17[caaspp_17['County Code'] != 0]
                      
# select only District Code = 0 (individual county totals)
caaspp_17 = caaspp_17[caaspp_17['District Code'] == 0]

# select variables we are interested in 
ca_var = ['County Code', 'Test Year', 'Grade', 'Test Id', 'Mean Scale Score', 
          'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Nearly Met', 
          'Percentage Standard Not Met']
caaspp_17 = caaspp_17[ca_var]

caaspp_17_test1 = caaspp_17[caaspp_17['Test Id'] == 1]
caaspp_17_test2 = caaspp_17[caaspp_17['Test Id'] == 2]

merge_var = ['County Code', 'Test Year', 'Grade', 'Test Id 2', 'Mean Scale Score 2', 
          'Percentage Standard Exceeded 2', 'Percentage Standard Met 2', 'Percentage Standard Nearly Met 2', 
          'Percentage Standard Not Met 2']
caaspp_17_test2.columns = merge_var

# now each county has grades 3-8, two rows per grade for ELA and math
caaspp_17 = caaspp_17_test1.merge(caaspp_17_test2)

#allow python to reallocate the memory
del caaspp_17_test1
del caaspp_17_test2

caaspp_17

# make separate columns for ELA (Test Id = 1) and math (Test Id = 2) (for mean and percentage columns)
# convert quantitative variables to float
# aggregate all rows by county code

,County Code,Test Year,Grade,Test Id,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met,Test Id 2,Mean Scale Score 2,Percentage Standard Exceeded 2,Percentage Standard Met 2,Percentage Standard Nearly Met 2,Percentage Standard Not Met 2
0,1,2017,3,1,2426.9,28.95,20.40,21.25,29.39,2,2443.8,27.97,25.67,21.76,24.59
1,1,2017,4,1,2469.9,29.72,21.00,17.59,31.69,2,2480.3,25.72,23.58,25.98,24.72
2,1,2017,5,1,2506.1,27.50,25.95,17.28,29.28,2,2508.8,28.88,15.92,22.50,32.69
3,1,2017,6,1,2534.9,23.51,30.07,22.62,23.80,2,2531.7,27.52,18.38,24.05,30.05
4,1,2017,7,1,2561.2,24.26,32.75,19.36,23.63,2,2555.6,29.37,19.54,22.14,28.96
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
343,58,2017,4,1,2439.2,16.19,22.31,20.67,40.83,2,2451.5,9.56,22.57,40.22,27.65
344,58,2017,5,1,2475.8,13.46,28.61,21.30,36.63,2,2475.2,11.15,14.54,34.17,40.14
345,58,2017,6,1,2496.9,7.97,28.63,31.70,31.70,2,2490.2,9.72,18.48,32.05,39.75
346,58,2017,7,1,2515.6,7.53,31.67,25.81,35.00,2,2499.3,8.93,16.41,33.20,41.46
347,58,2017,8,1,2521.0,7.04,27.66,28.93,36.36,2,2505.0,8.89,15.43,25.78,49.90

In [4]:
caaspp_18 = pd.read_csv('./data/sb_ca2018_1_csv_v3.csv')
caaspp_18 = caaspp_18[caaspp_18['Grade'] < 11]
caaspp_18 = caaspp_18[caaspp_18['County Code'] != 0]
caaspp_18 = caaspp_18[caaspp_18['District Code'] == 0]
caaspp_18 = caaspp_18[ca_var]
caaspp_18_test1 = caaspp_18[caaspp_18['Test Id'] == 1]
caaspp_18_test2 = caaspp_18[caaspp_18['Test Id'] == 2]
caaspp_18_test2.columns = merge_var
caaspp_18 = caaspp_18_test1.merge(caaspp_18_test2)
del caaspp_18_test1
del caaspp_18_test2

caaspp_19 = pd.read_csv('./data/sb_ca2019_1_csv_v4.csv')
caaspp_19 = caaspp_19[caaspp_19['Grade'] < 11]
caaspp_19 = caaspp_19[caaspp_19['County Code'] != 0]
caaspp_19 = caaspp_19[caaspp_19['District Code'] == 0]
caaspp_19 = caaspp_19[ca_var]
caaspp_19_test1 = caaspp_19[caaspp_19['Test Id'] == 1]
caaspp_19_test2 = caaspp_19[caaspp_19['Test Id'] == 2]
caaspp_19_test2.columns = merge_var
caaspp_19 = caaspp_19_test1.merge(caaspp_19_test2)
del caaspp_19_test1
del caaspp_19_test2

caaspp_21 = pd.read_csv('./data/sb_ca2021_1_csv_v2.csv', delimiter='^')
caaspp_21 = caaspp_21[caaspp_21['Grade'] < 11]
caaspp_21 = caaspp_21[caaspp_21['County Code'] != 0]
caaspp_21 = caaspp_21[caaspp_21['District Code'] == 0]
#They capitalized the 'D' in 'Test ID'
ca_var2 = ['County Code', 'Test Year', 'Grade', 'Test ID', 'Mean Scale Score', 
          'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Nearly Met', 
          'Percentage Standard Not Met']
caaspp_21 = caaspp_21[ca_var2]
caaspp_21.columns = ca_var
caaspp_21_test1 = caaspp_21[caaspp_21['Test Id'] == 1]
caaspp_21_test2 = caaspp_21[caaspp_21['Test Id'] == 2]
caaspp_21_test2.columns = merge_var
caaspp_21 = caaspp_21_test1.merge(caaspp_21_test2)
del caaspp_21_test1
del caaspp_21_test2

caaspp_22 = pd.read_csv('./data/sb_ca2022_1_csv_v1.csv', delimiter='^')
caaspp_22 = caaspp_22[caaspp_22['Grade'] < 11]
caaspp_22 = caaspp_22[caaspp_22['County Code'] != 0]
caaspp_22 = caaspp_22[caaspp_22['District Code'] == 0]
caaspp_22 = caaspp_22[ca_var2]
caaspp_22.columns = ca_var
caaspp_22_test1 = caaspp_22[caaspp_22['Test Id'] == 1]
caaspp_22_test2 = caaspp_22[caaspp_22['Test Id'] == 2]
caaspp_22_test2.columns = merge_var
caaspp_22 = caaspp_22_test1.merge(caaspp_22_test2)
del caaspp_22_test1
del caaspp_22_test2

In [5]:
#2021 has null values, the others don't
caaspp_21[caaspp_21.isna().any(axis=1)]

,County Code,Test Year,Grade,Test Id,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met,Test Id 2,Mean Scale Score 2,Percentage Standard Exceeded 2,Percentage Standard Met 2,Percentage Standard Nearly Met 2,Percentage Standard Not Met 2
270,46,2021,3,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
271,46,2021,4,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
272,46,2021,5,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN
273,46,2021,6,1,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN,NaN,NaN

In [6]:
#The county with the nulls is Sierra. A news search shows that in 2021, the CAASPP was optional in Sierra County
caaspp_21 = caaspp_21.dropna()
caaspp_21.shape

(344, 15)

In [7]:
#Append all years together
caaspp = pd.concat([caaspp_17, caaspp_18, caaspp_19, caaspp_21, caaspp_22], ignore_index=True)
del caaspp_17
del caaspp_18
del caaspp_19
del caaspp_21
del caaspp_22
caaspp.tail()

,County Code,Test Year,Grade,Test Id,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met,Test Id 2,Mean Scale Score 2,Percentage Standard Exceeded 2,Percentage Standard Met 2,Percentage Standard Nearly Met 2,Percentage Standard Not Met 2
1731,58,2022,4,1,2436.2,17.20,19.35,22.61,40.84,2,2438.4,9.57,19.66,34.05,36.72
1732,58,2022,5,1,2474.9,14.66,26.27,21.99,37.09,2,2454.4,7.60,13.89,30.04,48.47
1733,58,2022,6,1,2490.9,9.04,24.89,29.45,36.62,2,2475.1,8.27,13.52,31.23,46.98
1734,58,2022,7,1,2511.4,8.24,27.55,28.52,35.69,2,2467.9,5.21,11.58,26.54,56.66
1735,58,2022,8,1,2537.5,8.27,31.30,33.37,27.07,2,2496.8,7.18,12.88,27.14,52.80

In [8]:
#determine which rows aren't numerical...we see that some have asterisks
unique_values = caaspp['Mean Scale Score'].unique()
unique_values.sort()
unique_values

array(['*', '2353.5', '2358.4', ..., '2605.9', '2614.2', '2616.5'],
      dtype=object)

In [9]:
#drop rows that have asterisks
asterisk_rows = caaspp[caaspp['Mean Scale Score'] == '*'].index.values
caaspp = caaspp.drop(labels=asterisk_rows)

#Same for mean scale score 2
asterisk_rows = caaspp[caaspp['Mean Scale Score 2'] == '*'].index.values
caaspp = caaspp.drop(labels=asterisk_rows)

In [10]:
# read in school code csv, which matches county codes to county name
county_names = pd.read_csv('./data/sb_ca2017entities_csv.csv')

# drop County Code = 0 (does not represent a county)
county_names = county_names[county_names['County Code'] != 0]

# we only need one row per county for its name
county_names = county_names[county_names['District Code'] == 0]

# select column with county names
county_names = county_names['County Name'].reset_index(drop=True)

# replace the school code column in caaspp with county_names
county_names = county_names.reset_index()
county_names['index'] += 1

mapping = dict(county_names[['index', 'County Name']].values)
caaspp['County Code'] = caaspp['County Code'].map(mapping)
caaspp = caaspp.rename(columns={'County Code': 'County Name'})

#drop sierra bc that county is not included in the library dataset
caaspp = caaspp.drop(caaspp[caaspp['County Name'] == 'Sierra'].index)

caaspp.head()

,County Name,Test Year,Grade,Test Id,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met,Test Id 2,Mean Scale Score 2,Percentage Standard Exceeded 2,Percentage Standard Met 2,Percentage Standard Nearly Met 2,Percentage Standard Not Met 2
0,Alameda,2017,3,1,2426.9,28.95,20.40,21.25,29.39,2,2443.8,27.97,25.67,21.76,24.59
1,Alameda,2017,4,1,2469.9,29.72,21.00,17.59,31.69,2,2480.3,25.72,23.58,25.98,24.72
2,Alameda,2017,5,1,2506.1,27.50,25.95,17.28,29.28,2,2508.8,28.88,15.92,22.50,32.69
3,Alameda,2017,6,1,2534.9,23.51,30.07,22.62,23.80,2,2531.7,27.52,18.38,24.05,30.05
4,Alameda,2017,7,1,2561.2,24.26,32.75,19.36,23.63,2,2555.6,29.37,19.54,22.14,28.96

In [11]:
caaspp_numeric_vars = ['Mean Scale Score', 'Percentage Standard Exceeded', 'Percentage Standard Met', 
                       'Percentage Standard Nearly Met', 'Percentage Standard Not Met', 'Mean Scale Score 2', 
                       'Percentage Standard Exceeded 2', 'Percentage Standard Met 2', 
                       'Percentage Standard Nearly Met 2', 'Percentage Standard Not Met 2']

caaspp[caaspp_numeric_vars] = caaspp[caaspp_numeric_vars].astype(np.float64)

caaspp.describe()

,Test Year,Grade,Test Id,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met,Test Id 2,Mean Scale Score 2,Percentage Standard Exceeded 2,Percentage Standard Met 2,Percentage Standard Nearly Met 2,Percentage Standard Not Met 2
count,1680.000000,1680.000000,1680.0,1680.000000,1680.000000,1680.000000,1680.000000,1680.000000,1680.0,1680.000000,1680.000000,1680.000000,1680.000000,1680.000000
mean,2019.390476,5.498214,1.0,2490.457738,16.747494,27.281506,24.511613,31.459220,2.0,2481.462202,14.915827,19.366250,28.149798,37.567935
std,1.855701,1.708333,0.0,54.142953,7.476501,6.133823,4.143882,8.241774,0.0,45.319197,7.776960,5.512322,4.667914,10.364839
min,2017.000000,3.000000,1.0,2353.500000,0.000000,0.000000,11.110000,0.000000,2.0,2365.600000,0.000000,4.000000,14.380000,7.140000
25%,2018.000000,4.000000,1.0,2448.275000,11.077500,22.280000,21.540000,25.930000,2.0,2451.100000,9.287500,15.560000,24.990000,29.807500
50%,2019.000000,5.000000,1.0,2497.100000,15.280000,27.310000,24.460000,31.310000,2.0,2482.600000,13.140000,18.460000,27.955000,37.610000
75%,2021.000000,7.000000,1.0,2533.775000,21.192500,31.752500,27.340000,36.700000,2.0,2512.700000,18.290000,23.402500,30.992500,44.992500
max,2022.000000,8.000000,1.0,2616.500000,43.660000,50.000000,44.440000,59.050000,2.0,2628.100000,48.280000,38.610000,55.000000,71.160000

## Population of Children in California Counties

In [12]:
# read in csv for population estimates 2010-2019
pop_17_19 = pd.read_csv('./data/cc-est2019-agesex-06.csv')

# select years 2017, 2018, 2019
pop_17_19 = pop_17_19[pop_17_19['YEAR'] > 9]

# select columns county name, year, and population ages 5-13
pop_17_19 = pop_17_19[['CTYNAME', 'YEAR', 'AGE513_TOT']]
pop_17_19['YEAR'] = pop_17_19['YEAR'].replace({10: 2017, 11: 2018, 12: 2019})

# read in csv for population estimates 2020-2022
pop_21_22 = pd.read_csv('./data/cc-est2022-agesex-06.csv')

# select years 2021 and 2022
pop_21_22 = pop_21_22[pop_21_22['YEAR'] > 2]
pop_21_22 = pop_21_22[['CTYNAME', 'YEAR', 'AGE513_TOT']]
pop_21_22['YEAR'] = pop_21_22['YEAR'].replace({3: 2021, 4: 2022})

population = pd.concat([pop_17_19, pop_21_22])
population = population.sort_values(by=['CTYNAME', 'YEAR'])

In [13]:
# add population of sierra county to plumas county
for p, s in zip(population[population['CTYNAME'] == 'Plumas County'].index, population[population['CTYNAME'] == 'Sierra County'].index):
    population.loc[p, 'AGE513_TOT'] += population.loc[s, 'AGE513_TOT']

In [14]:
population = population.drop(population[population['CTYNAME'] == 'Sierra County'].index)

In [15]:
population = population['AGE513_TOT'].tolist()
new_libraries['Child Population'] = population

In [16]:
# new dataframe for per person/per child
libraries_per = new_libraries.copy()
libraries_per['Registered Users as of June 30'] = libraries_per['Registered Users as of June 30'] / libraries_per['Population of The Legal Service Area'] *1000
libraries_per['Library Visits'] = libraries_per['Library Visits'] / libraries_per['Population of The Legal Service Area'] *1000

libraries_per['Children Borrowers'] = libraries_per['Children Borrowers'] / libraries_per['Child Population'] *1000
libraries_per['Circulation of Childrens Materials'] = libraries_per['Circulation of Childrens Materials'] / libraries_per['Child Population'] *1000
libraries_per["# of Children's Programs"] = libraries_per["# of Children's Programs"] / libraries_per['Child Population'] *1000
libraries_per["Children's Program Attendance"] = libraries_per["Children's Program Attendance"] / libraries_per['Child Population'] *1000
libraries_per.columns = ['County', 'Year', 'Population of The Legal Service Area', 'Registered Users/Person', 'Children Borrowers/Child', 
                         'Library Visits/Person', 'Total Operating Income', 'Circ. Childrens Materials/Child', "Children's Programs/Child",
                       "Children's Program Attendance/Child", 'Child Population']
libraries_per

,County,Year,Population of The Legal Service Area,Registered Users/Person,Children Borrowers/Child,Library Visits/Person,Total Operating Income,Circ. Childrens Materials/Child,Children's Programs/Child,Children's Program Attendance/Child,Child Population
0,Alameda,2017,1645359.0,695.776423,1216.938437,4827.615128,100332971.0,39203.246275,85.924365,2848.868007,173676
1,Alameda,2018,1660202.0,702.624741,1232.657250,4639.015614,107204293.0,39249.681093,85.757028,2922.609936,172464
2,Alameda,2019,1669301.0,723.489652,1360.532705,4590.663397,120455980.0,42155.679537,78.388347,2785.511695,171352
3,Alameda,2021,1656591.0,769.452448,1175.136276,193.944673,129778074.0,20580.580028,7.379201,202.512688,164923
4,Alameda,2022,1651979.0,727.326437,1152.019717,2045.872859,136050987.0,41933.936646,35.609239,664.785235,159453
...,...,...,...,...,...,...,...,...,...,...,...
280,Yuba,2017,74577.0,500.824651,518.563320,732.759430,410172.0,3602.586768,44.384479,375.174467,10747
281,Yuba,2018,74727.0,490.465294,244.523225,789.982202,506932.0,1971.457140,44.450504,444.595946,11001
282,Yuba,2019,77916.0,487.422352,233.197648,747.060937,714484.0,1732.700136,32.021710,415.106287,11055
283,Yuba,2021,79407.0,475.965595,157.917384,-0.012593,843125.0,374.698795,12.478485,665.662651,11620
284,Yuba,2022,82275.0,466.593741,145.023128,395.016712,1002456.0,892.410485,14.048312,432.071269,11674

In [17]:
libraries_per.describe()

,Year,Population of The Legal Service Area,Registered Users/Person,Children Borrowers/Child,Library Visits/Person,Total Operating Income,Circ. Childrens Materials/Child,Children's Programs/Child,Children's Program Attendance/Child,Child Population
count,285.000000,2.850000e+02,285.000000,285.000000,285.000000,2.850000e+02,285.000000,285.000000,285.000000,2.850000e+02
mean,2019.400000,6.940332e+05,531.989585,926.679068,2459.122645,3.084234e+07,13787.163140,57.367839,1314.662117,7.826465e+04
std,1.857986,1.477609e+06,365.745346,847.309042,2860.541519,7.325997e+07,12828.830319,79.773579,1487.080319,1.587462e+05
min,2017.000000,1.135000e+03,80.771543,-0.540249,-0.115075,1.926980e+05,-0.126358,-0.433745,-0.433745,8.600000e+01
25%,2018.000000,5.459000e+04,325.027256,428.663177,605.424528,9.902570e+05,4829.749104,15.846939,370.999030,4.648000e+03
50%,2019.000000,1.906240e+05,496.036933,735.360184,1796.712224,4.239196e+06,9173.026316,36.553323,887.371307,2.233100e+04
75%,2021.000000,7.652450e+05,635.387472,1175.136276,3328.231701,2.800928e+07,18129.177958,67.447618,1709.990455,7.528700e+04
max,2022.000000,1.028329e+07,2969.162996,6418.604651,22328.422877,5.483616e+08,64138.674907,652.631579,8650.648360,1.103224e+06

We see that some of the descriptive values indicate that there may be some negative numbers in the data. The library element definitions document explains that a negative one (-1) is used as a placeholder when a statistic was unavailable. They do not mean zero. For the remainder of our analysis, we will exclude values that are negative when looking at each column of interset. This does **not** mean we are dropping rows that have a negative value.

# Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Exploaration of Library and Population Data

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [15]:
# Library income vs visits per person

### Exploration of CAASPP Reading Score Data

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [16]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

Given our research question, one of the primary concerns we have regards the privacy of the children whose data we will be collecting. The data we wish to utilize will track participation at public libraries as well as student test scores. We understand that while parents or guardians may have consented to allow the collection of their children's data, it is unlikely that the children themselves can offer truly informed consent to have their data collected and used. For this reason, we propose to utilize only data that refrains from including all personal identifying information except for the age of children. Additionally, in our analysis, we aim to only use this data in aggregate — never singling out a single data point for commentary on that individual. Another privacy concern hinges on the fact that some of our data includes attendance rates for children's programs at public libraries. To protect the privacy and safety of the children who attend these programs, we will withhold information about the times and locations of the programs as well as consider only using the program data in aggregate by county. Lastly, considering that these libraries are public institutions, the data must be safeguarded through strong security measures to prevent hacking, data leaks, and other security breaches.

The ethics concerns we have for our data, however, extend beyond just privacy. One issue that might arise from the data is the stigmatization of certain communities or school systems. Since we include performance data on standardized tests as well as library attendance habits, viewers may interpret these as metrics to profile certain groups or communities. In addition, inherent biases can impact the validity and fairness of research findings, which may result in overrepresentation or underrepresentation of particular demographics and socioeconomic groups. Lastly, when collecting data within communities, it is imperative to implement responsible measures and practices that leave the community feeling safe and at ease. It is important in our analysis to remind readers that standardized test scores are not a holistic measure of an individual's capabilities nor is library attendance an accurate means to assess a community's habits.

# Team Expectations


* Each team member will attend our weekly group meetings unless they indicate they cannot attend beforehand.
* Each team member will communicate any concerns, questions, or ideas with the other team members through our designated group chat or during our group meetings.
* Each team member will complete their designated tasks by the deadlines determined by the team unless they communicate that they need more time to complete them.
* Each team member will contribute equally across the entire project submission.
* Each team member will regularly check in with each other to ensure good progress is being made toward the final project.

# Project Timeline Proposal

| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 2/08  |  7:00 PM | Read through COGS 108 Team Policies; look for data sets about school rankings, student academic performance  | Discuss **Project Proposal**. Complete Team Expectations and Project Timeline Proposal. Assign the rest of the sections of the Project Proposal to the team members. | 
| 2/11  |  **By 10:00 PM** |  **Project Proposal Submission** |  | 
| 2/13  | 6:00 PM  | Complete assigned Project Proposal section and review group work for submission. | Discuss **Data** and Project Proposal feedback.   |
| 2/20  | 6:00 PM  | Import and wrangle data. | Discuss Project Proposal feedback and finalize **Data**. Discuss **EDA** and project tasks.   |
| 2/25 | 3:00 PM | Research additional datasets. | Finalize Data. Apply feedback from the Project Proposal. Introduce EDA. |
| **2/25 DEADLINE**  | **Before 11:59 PM**  | **Checkpoint #1: DATA** |  |
| 2/29  | 6:00 PM  | Submit Data and brainstorm **EDA** approach.  | Finalize **EDA** plan and assign project **tasks**. |
| 3/3 | 3:00 PM | Work on assigned project tasks. | Discuss Data feedback. Finalize EDA plan and discuss progress on project tasks. |
| 3/7  | 6:00 PM  | Complete **EDA**, plan assigned tasks, outline of Analysis.  | Review **EDA**, discuss **analysis**, and finalize task plans. |
| **3/10 DEADLINE**  | **Before 11:59 PM**  | **Checkpoint #2: EDA** |  |
| 3/12  | 6:00 PM  | Complete Analysis and draft of results, discussion, and conclusion. | Review drafts and edit the full project draft. Plan the **video**. |
| 3/19  | 6:00 PM  | Prepare the video script and presentation.| Review presentation and film **final video**. Submit **Final Report**. |
| **3/20 DEADLINE**  | **Before 11:59 PM**  | **DUE Final Report, Final Video, Team Evaluation, & Post Course Survey (EC)** |  |