**If you lost points on the last checkpoint you can get them back by responding to TA/IA feedback**  

Update/change the relevant sections where you lost those points, make sure you respond on GitHub Issues to your TA/IA to call their attention to the changes you made here.

Please update your Timeline... no battle plan survives contact with the enemy, so make sure we understand how your plans have changed.

# COGS 108 - EDA Checkpoint

# Names

- Ant Man
- Hulk
- Iron Man
- Thor
- Wasp

# Research Question

-  Include a specific, clear data science question.
-  Make sure what you're measuring (variables) to answer the question is clear

What is your research question? Include the specific question you're setting out to answer. This question should be specific, answerable with data, and clear. A general question with specific subquestions is permitted. (1-2 sentences)

## Background and Prior Work


- Include a general introduction to your topic
- Include explanation of what work has been done previously
- Include citations or links to previous work

This section will present the background and context of your topic and question in a few paragraphs. Include a general introduction to your topic and then describe what information you currently know about the topic after doing your initial research. Include references to other projects who have asked similar questions or approached similar problems. Explain what others have learned in their projects.

Find some relevant prior work, and reference those sources, summarizing what each did and what they learned. Even if you think you have a totally novel question, find the most similar prior work that you can and discuss how it relates to your project.

References can be research publications, but they need not be. Blogs, GitHub repositories, company websites, etc., are all viable references if they are relevant to your project. It must be clear which information comes from which references. (2-3 paragraphs, including at least 2 references)

 **Use inline citation through HTML footnotes to specify which references support which statements** 

For example: After government genocide in the 20th century, real birds were replaced with surveillance drones designed to look just like birds.<a name="cite_ref-1"></a>[<sup>1</sup>](#cite_note-1) Use a minimum of 2 or 3 citations, but we prefer more.<a name="cite_ref-2"></a>[<sup>2</sup>](#cite_note-2) You need enough to fully explain and back up important facts. 

Note that if you click a footnote number in the paragraph above it will transport you to the proper entry in the footnotes list below.  And if you click the ^ in the footnote entry, it will return you to the place in the main text where the footnote is made.

To understand the HTML here, `<a name="#..."> </a>` is a tag that allows you produce a named reference for a given location.  Markdown has the construciton `[text with hyperlink](#named reference)` that will produce a clickable link that transports you the named reference.

1. <a name="cite_note-1"></a> [^](#cite_ref-1) Lorenz, T. (9 Dec 2021) Birds Aren’t Real, or Are They? Inside a Gen Z Conspiracy Theory. *The New York Times*. https://www.nytimes.com/2021/12/09/technology/birds-arent-real-gen-z-misinformation.html 
2. <a name="cite_note-2"></a> [^](#cite_ref-2) Also refs should be important to the background, not some randomly chosen vaguely related stuff. Include a web link if possible in refs as above.

# Hypothesis


- Include your team's hypothesis
- Ensure that this hypothesis is clear to readers
- Explain why you think this will be the outcome (what was your thinking?)

What is your main hypothesis/predictions about what the answer to your question is? Briefly explain your thinking. (2-3 sentences)

# Data

## Data overview

For each dataset include the following information
- Dataset #1
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- Dataset #2 (if you have more than one!)
  - Dataset Name:
  - Link to the dataset:
  - Number of observations:
  - Number of variables:
- etc

Now write 2 - 5 sentences describing each dataset here. Include a short description of the important variables in the dataset; what the metrics and datatypes are, what concepts they may be proxies for. Include information about how you would need to wrangle/clean/preprocess the dataset

If you plan to use multiple datasets, add a few sentences about how you plan to combine these datasets.

## California Public Libraries Statistics

In [1]:
import pandas as pd
import numpy as np

# read in csv 
library_17 = pd.read_csv('./data/All-DataFY16-17.csv',  encoding='latin-1')

# select only columns we are interested in 
lib_var = ['County', 'Population of The Legal Service Area', 
        'Registered Users as of June 30', 'Children Borrowers', 
        'Library Visits', 'Total Operating Income', 'Circulation of Childrens Materials',
        "# of Children's Programs", "Children's Program Attendance"]
library_17 = library_17[lib_var]

# convert quantitative variables to floats 
library_17[lib_var[1:]] = library_17[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_17['Year'] = 2017

# do the same with other years
library_18 = pd.read_csv('./data/All-DataFY17-18.csv',  encoding='latin-1')
library_18 = library_18[lib_var]
library_18[lib_var[1:]] = library_18[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_18['Year'] = 2018

library_19 = pd.read_csv('./data/All-DataFY18-19.csv',  encoding='latin-1')
library_19 = library_19[lib_var]
library_19[lib_var[1:]] = library_19[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_19['Year'] = 2019

# since CAASPP is missing 2020 data, we cannot compare it with 2020 library data

library_21 = pd.read_csv('./data/All-DataFY20-21.csv',  encoding='latin-1')
# column names differ slightly from previous years, manually adjusted
library_21 = library_21[['1.35 County', '2.1 Population of The Legal Service Area', 
        '2.2 Registered Users as of June 30', '2.3 Children Borrowers', '7.2 Library Visits', 
        '3.5 Total Operating Income', '7.12 Circulation of Childrens Materials', 
        "# of Children's Programs (calculated)", "Children's Program Attendance"]]
# rename columns 
library_21.columns = lib_var
library_21[lib_var[1:]] = library_21[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_21['Year'] = 2021

library_22 = pd.read_csv('./data/All-DataFY21-22.csv',  encoding='latin-1')
library_22 = library_22[['1.36 County', '2.1 Population of The Legal Service Area', 
        '2.2 Registered Users as of June 30', '2.3 Children Borrowers', '7.2 Library Visits', 
        '3.5 Total Operating Income', "7.11 Circulation of Children's Materials", 
        "# of Children's Programs (calculated)", "Children's Program Attendance"]]
library_22.columns = lib_var
library_22[lib_var[1:]] = library_22[lib_var[1:]].apply(lambda x: x.str.replace('$','')).apply(lambda x: x.str.replace(',','')).astype(np.float64)
library_22['Year'] = 2022


libraries = pd.concat([library_17, library_18, library_19, library_21, library_22])

In [2]:
# combine all rows in the same county
new_libraries = libraries.groupby(['County','Year']).aggregate('sum')

# see what aggregated library dataset looks like
new_libraries

              Population of The Legal Service Area  \
County  Year
Alameda 2017                             1645359.0
        2018                             1660202.0
        2019                             1669301.0
        2021                             1656591.0
        2022                             1651979.0
...                                            ...
Yuba    2017                               74577.0
        2018                               74727.0
        2019                               77916.0
        2021                               79407.0
        2022                               82275.0

              Registered Users as of June 30  Children Borrowers  \
County  Year
Alameda 2017                       1144802.0            211353.0
        2018                       1166499.0            212589.0
        2019                       1207722.0            233130.0
        2021                       1274668.0            193807.0
        2022                       1201528.0            183693.0
...                                      ...                 ...
Yuba    2017                         37350.0              5573.0
        2018                         36651.0              2690.0
        2019                         37978.0              2578.0
        2021                         37795.0              1835.0
        2022                         38389.0              1693.0

              Library Visits  Total Operating Income  \
County  Year
Alameda 2017       7943160.0             100332971.0
        2018       7701703.0             107204293.0
        2019       7663199.0             120455980.0
        2021        321287.0             129778074.0
        2022       3379739.0             136050987.0
...                      ...                     ...
Yuba    2017         54647.0                410172.0
        2018         59033.0                506932.0
        2019         58208.0                714484.0
        2021            -1.0                843125.0
        2022         32500.0               1002456.0

              Circulation of Childrens Materials  # of Children's Programs  \
County  Year
Alameda 2017                           6808663.0                   14923.0
        2018                           6769157.0                   14790.0
        2019                           7223460.0                   13432.0
        2021                           3394211.0                    1217.0
        2022                           6686492.0                    5678.0
...                                          ...                       ...
Yuba    2017                             38717.0                     477.0
        2018                             21688.0                     489.0
        2019                             19155.0                     354.0
        2021                              4354.0                     145.0
        2022                             10418.0                     164.0

              Children's Program Attendance
County  Year
Alameda 2017                       494780.0
        2018                       504045.0
        2019                       477303.0
        2021                        33399.0
        2022                       106002.0
...                                     ...
Yuba    2017                         4032.0
        2018                         4891.0
        2019                         4589.0
        2021                         7735.0
        2022                         5044.0

[285 rows x 8 columns]

## California Assessment of Student Performance and Progress (CAASPP) Smarter Balance Assessments

In [3]:
# read in score csv
caaspp_17 = pd.read_csv('./data/sb_ca2017_1_csv_v2.csv')

# drop all rows with null values?
# exclude all observations of Grade 11 and Grade 13 (all grades totals) 
caaspp_17 = caaspp_17[caaspp_17['Grade'] < 11] 

# exclude all observations of County Code 0 (whole state total)
caaspp_17 = caaspp_17[caaspp_17['County Code'] != 0]
                      
# select only District Code = 0 (individual county totals)
caaspp_17 = caaspp_17[caaspp_17['District Code'] == 0]

# select variables we are interested in 
ca_var = ['County Code', 'Test Year', 'Grade', 'Test Id', 'Mean Scale Score', 
          'Percentage Standard Exceeded', 'Percentage Standard Met', 'Percentage Standard Nearly Met', 
          'Percentage Standard Not Met']
caaspp_17 = caaspp_17[ca_var]

# now each county has grades 3-8, two rows per grade for ELA and math
caaspp_17

# make separate columns for ELA (Test Id = 1) and math (Test Id = 2) (for mean and percentage columns)
# convert quantitative variables to float
# aggregate all rows by county code

,County Code,Test Year,Grade,Test Id,Mean Scale Score,Percentage Standard Exceeded,Percentage Standard Met,Percentage Standard Nearly Met,Percentage Standard Not Met
16,1,2017,3,1,2426.9,28.95,20.40,21.25,29.39
17,1,2017,3,2,2443.8,27.97,25.67,21.76,24.59
18,1,2017,4,1,2469.9,29.72,21.00,17.59,31.69
19,1,2017,4,2,2480.3,25.72,23.58,25.98,24.72
20,1,2017,5,1,2506.1,27.50,25.95,17.28,29.28
...,...,...,...,...,...,...,...,...,...
101141,58,2017,6,2,2490.2,9.72,18.48,32.05,39.75
101142,58,2017,7,1,2515.6,7.53,31.67,25.81,35.00
101143,58,2017,7,2,2499.3,8.93,16.41,33.20,41.46
101144,58,2017,8,1,2521.0,7.04,27.66,28.93,36.36
101145,58,2017,8,2,2505.0,8.89,15.43,25.78,49.90

In [4]:
# read in school code csv, which matches county codes to county name
county_codes = pd.read_csv('./data/sb_ca2017entities_csv.csv')

# drop County Code = 0 (does not represent a county)
county_codes = county_codes[county_codes['County Code'] != 0]

# we only need one row per county for its name
county_codes = county_codes[county_codes['District Code'] == 0]

# select column with county names
county_codes = county_codes['County Name'].reset_index(drop=True)

# replace the school code column in caaspp with county_codes

## Population of Children in California Counties

In [ ]:
# read in csv

# combine with library dataset
# do math to get numbers out of every 1,000 kids or does this go in EDA section

In [ ]:
# combine caaspp dataset with library dataset

# Results

## Exploratory Data Analysis

Carry out whatever EDA you need to for your project.  Because every project will be different we can't really give you much of a template at this point. But please make sure you describe the what and why in text here as well as providing interpretation of results and context.

### Section 1 of EDA - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

### Section 2 of EDA if you need it  - please give it a better title than this

Some more words and stuff.  Remember notebooks work best if you interleave the code that generates a result with properly annotate figures and text that puts these results into context.

In [ ]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

- Thoughtful discussion of ethical concerns included
- Ethical concerns consider the whole data science process (question asked, data collected, data being used, the bias in data, analysis, post-analysis, etc.)
- How your group handled bias/ethical concerns clearly described

Acknowledge and address any ethics & privacy related issues of your question(s), proposed dataset(s), and/or analyses. Use the information provided in lecture to guide your group discussion and thinking. If you need further guidance, check out [Deon's Ethics Checklist](http://deon.drivendata.org/#data-science-ethics-checklist). In particular:

- Are there any biases/privacy/terms of use issues with the data you propsed?
- Are there potential biases in your dataset(s), in terms of who it composes, and how it was collected, that may be problematic in terms of it allowing for equitable analysis? (For example, does your data exclude particular populations, or is it likely to reflect particular human biases in a way that could be a problem?)
- How will you set out to detect these specific biases before, during, and after/when communicating your analysis?
- Are there any other issues related to your topic area, data, and/or analyses that are potentially problematic in terms of data privacy and equitable impact?
- How will you handle issues you identified?

# Team Expectations


Read over the [COGS108 Team Policies](https://github.com/COGS108/Projects/blob/master/COGS108_TeamPolicies.md) individually. Then, include your group’s expectations of one another for successful completion of your COGS108 project below. Discuss and agree on what all of your expectations are. Discuss how your team will communicate throughout the quarter and consider how you will communicate respectfully should conflicts arise. By including each member’s name above and by adding their name to the submission, you are indicating that you have read the COGS108 Team Policies, accept your team’s expectations below, and have every intention to fulfill them. These expectations are for your team’s use and benefit — they won’t be graded for their details.

* *Team Expectation 1*
* *Team Expectation 2*
* *Team Expecation 3*
* ...

# Project Timeline Proposal

Specify your team's specific project timeline. An example timeline has been provided. Changes the dates, times, names, and details to fit your group's plan.

If you think you will need any special resources or training outside what we have covered in COGS 108 to solve your problem, then your proposal should state these clearly. For example, if you have selected a problem that involves implementing multiple neural networks, please state this so we can make sure you know what you’re doing and so we can point you to resources you will need to implement your project. Note that you are not required to use outside methods.



| Meeting Date  | Meeting Time| Completed Before Meeting  | Discuss at Meeting |
|---|---|---|---|
| 1/20  |  1 PM | Read & Think about COGS 108 expectations; brainstorm topics/questions  | Determine best form of communication; Discuss and decide on final project topic; discuss hypothesis; begin background research | 
| 1/26  |  10 AM |  Do background research on topic | Discuss ideal dataset(s) and ethics; draft project proposal | 
| 2/1  | 10 AM  | Edit, finalize, and submit proposal; Search for datasets  | Discuss Wrangling and possible analytical approaches; Assign group members to lead each specific part   |
| 2/14  | 6 PM  | Import & Wrangle Data (Ant Man); EDA (Hulk) | Review/Edit wrangling/EDA; Discuss Analysis Plan   |
| 2/23  | 12 PM  | Finalize wrangling/EDA; Begin Analysis (Iron Man; Thor) | Discuss/edit Analysis; Complete project check-in |
| 3/13  | 12 PM  | Complete analysis; Draft results/conclusion/discussion (Wasp)| Discuss/edit full project |
| 3/20  | Before 11:59 PM  | NA | Turn in Final Project & Group Project Surveys |